<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="landing-section-2">
        <span class="icon-text">
            <span class="icon is-large">
              <a href="/userManagement"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i></a>
            </span>
            <span>Edit admin resource form</span>
          </span>
      <form action="/userManagement/<%= resource._id %>?_method=PUT" method="post">
        <label class="label">User Name:</label>
        <input class="input" type="text" placeholder="username" name="username" value="<%= resource.username %>"/>
        <label class="label">Password:</label>
        <input class="input" type="password" placeholder="password" name="password" />
        <label class="label">Role:</label>
        <input class="input" type="text" placeholder="role" name="role" value="<%= resource.role %>"/>
        <label class="label">Resource Manager:</label>
        <input class="input" type="text" placeholder="resource manager" name="resourceManager" value="<%= resource.resourceManager %>"/>
        <label class="label">Capacity:</label>
        <input class="input" type="number" placeholder="capacity" name="capacity" value="<%= resource.capacity %>"/>
        <label class="label">Resource Type:</label>
        <input class="input" type="text" placeholder="resource type" name="resourceType" value="<%= resource.resourceType %>"/>
        <label class="label">Cost:</label>
        <input class="input" type="number" placeholder="cost" name="cost" value="<%= resource.cost %>"/>
        <input class="button" type="submit" value="Update Resource" />
    </form>
    </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>