<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
     
      <% for(project of projects) { %>
        <div>
          <div><%= project.projectName %> <a href="/projects/<%= project._id %>"><button class="button">Edit</button></a> 
            <form action="/projects/<%= project._id %>?_method=DELETE" method="post">
              <input style="margin: 2px;background-color: #fd7d24;" class="button" type="submit" value="Delete"/></a>
            </form>
            </div>
        </div>
      <% } %>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>