<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="landing-section-2">
      <form action="/projects/<%= project._id %>?_method=PUT" method="post">
          Project Name: <input type="text" name="projectName" value="<%= project.projectName %>">
          Start Date: <input type="date" name="startDate" value="<%= project.startDate %>">
          End Date: <input type="date" name="endDate" value="<%= project.endDate %>">
          Notes: <input type="text" name="notes" value="<%= project.notes %>">
          Project Manager: <input type="text" name="projectManager" value="<%= project.projectManager %>">
          <input class="button" type="submit" value="Update Project"/></a>
      </form>
      </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>