<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main class="container">
      <!-- *********DISPLAY Images********* -->
      <div class="landing-section-2">
        <span class="icon-text">
          <span class="icon is-large">
            <a href="/projects"><i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i></a>
          </span>
          <span>Edit project form</span>
        </span>

      <form class="form box" action="/projects/<%= project._id %>?_method=PUT" method="post">
          <div class="field">
            <label class="label">Project Name:</label>   
            <input class="input" type="text" name="projectName" value="<%= project.projectName %>">
          </div>
          
          <div class="field">
            <label class="label">Start Date:</label>   
            <input class="input" type="date" name="startDate" value="<%= project.startDate %>">
          </div>
          
          <div class="field">
            <label class="label">End Date:</label> 
            <input class="input" type="date" name="endDate" value="<%= project.endDate %>">
          </div>
          
          <div class="field">
            <label class="label">Notes:</label> 
            <input class="input" type="text" name="notes" value="<%= project.notes %>">
          </div>
          
          <div class="field">
            <label class="label">Project Manager:</label> 
            <input class="input" type="text" name="projectManager" value="<%= project.projectManager %>">
          </div>
          
          <input class="button" type="submit" value="Update Project"/></a>
      </form>
      </div>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>